@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /* 
    Computed using
    https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ and
    https://codebeautify.org/point-to-rem-converter
    */
    /* font-size: clamp(0.8331rem, 0.5827rem + 1.1127vw, 1.1669rem); */
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: auto;
    padding: 10px
}

.title {
    text-align:center;
}

ul {
    list-style-type: square;
}

li {
    margin: .5em 0;
}

.description{
    clear:left
}

.social{
    max-width: 576px;
    padding-bottom: 10px;
    margin:auto;
}

.social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.social li{
    margin: auto;
    width: 32px;
    flex-shrink: 0;
}

.pic{
    float: right;
    width: clamp(6rem, 6rem + 20vw, 15rem);
    margin: .5em;
}


a.icon:link{text-decoration: none; color: #0000EE}
a.icon:hover{text-decoration: none; color: #0000EE}
a.icon:visited{text-decoration: none; color:#0000EE}
a.icon:active{text-decoration: none; color: #0000EE}

ul.presentation .title{
    text-align:left
}